---
import meImage2 from '../../assets/me2.avif'
import LazyImage from '../LazyImage.astro'
---

<section
	class='flex gap-8 justify-center items-center flex-col-reverse lg:flex-row lg:gap-32 lg:pt-16 pb-8'
>
	<article class='format w-full'>
		<h1
			class='text-gray-900 text-5xl sm:text-6xl md:text-6xl font-medium dark:text-gray-200'
		>
			I'm <span class='font-extrabold'>Alex Marcos</span>, from barcelona where
			I create and develop web applications.
		</h1>
		<p class='dark:text-gray-400'>
			Since I was a child, I have always had a great passion for technology. In
			2012, I decided to study software development, and the following year, I
			landed my first job in this field. Over my 9 years of experience, I have
			worked on a wide variety of projects, ranging from custom web and mobile
			applications to interactive solutions and landing pages.
			<p class='dark:text-gray-400'>
				Along this journey, I have discovered that I love what I do, as web
				application development allows me to use my skills to design solutions
				that users can enjoy. Not only have I worked as a Frontend Developer,
				but I have also acted as a Full Stack Developer.
			</p>
			<p class='dark:text-gray-400'>
				Part of my professional career has been as a Freelance Developer for
				various clients. I have a great knowledge of developing modular and
				scalable solutions that adapt to the needs and requirements of each
				project. Thanks to this, I have had the opportunity to work with clients
				from all around the world, ranging from small to large enterprises.
			</p>
		</p>
	</article>
	<article class='align-middle w-full max-w-[500px] h-[650px]'>
		<LazyImage
			src={meImage2.src}
			formats={['webp']}
			width={meImage2.width}
			alt='My photo for about section'
			className='w-full h-full drop-shadow-2xl rounded-lg object-cover dark:drop-shadow-green-50'
		/>
	</article>
</section>
