---
import ThemeSwitcher from './ThemeSwitcher.astro'

const menu = [
	{
		name: 'Home',
		url: '/'
	},
	{
		name: 'About',
		url: '/about'
	},
	{
		name: 'Projects',
		url: '/project'
	}
]

const activeClass =
	'font-bold block py-2 pr-4 pl-3 text-white rounded bg-primary-700 sm:bg-transparent sm:text-primary-800 sm:p-0 dark:text-white'
const deactiveClass =
	'block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 sm:hover:bg-transparent sm:border-0 sm:hover:text-primary-700 sm:p-0 dark:text-gray-400 sm:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white sm:dark:hover:bg-transparent dark:border-gray-700'
---

<header class='sticky top-0 z-50'>
	<nav
		class='flex bg-white bg-opacity-90 border-gray-400 px-4 sm:px-6 py-2.5 dark:bg-gray-900 dark:bg-opacity-70'
	>
		<div
			class='flex flex-wrap justify-end sm:justify-center items-center mx-auto max-w-screen-xl w-full relative'
		>
			<section
				class='flex items-center sm:order-2 sm:absolute sm:right-0 sm:top-0'
			>
				<ThemeSwitcher />
				<button
					data-collapse-toggle='mobile-menu-2'
					type='button'
					class='inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600'
					aria-controls='mobile-menu-2'
					aria-expanded='false'
				>
					<span class='sr-only'>Open main menu</span>
					<svg
						class='w-6 h-6'
						fill='currentColor'
						viewBox='0 0 20 20'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z'
							clip-rule='evenodd'></path></svg
					>
					<svg
						class='hidden w-6 h-6'
						fill='currentColor'
						viewBox='0 0 20 20'
						xmlns='http://www.w3.org/2000/svg'
						><path
							fill-rule='evenodd'
							d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z'
							clip-rule='evenodd'></path></svg
					>
				</button>
			</section>
			<section
				class='hidden justify-between items-center w-full sm:flex sm:w-auto sm:order-1 sm:px-3 sm:py-2 sm:text-sm sm:font-medium sm:transition sm:border sm:rounded-full sm:border-gray-900/10 sm:bg-white/50 sm:text-gray-700 sm:backdrop-blur-sm sm:hover:text-gray-900 sm:dark:border-white/10 sm:dark:bg-gray-900/20 sm:dark:text-gray-400 sm:dark:backdrop-blur sm:dark:hover:text-white'
				id='mobile-menu-2'
			>
				<ul
					class='flex flex-col mt-4 font-medium sm:flex-row sm:space-x-8 sm:mt-0'
				>
					{
						menu.map((m) => {
							return (
								<li>
									<a
										href={m.url}
										class={
											m.url === Astro.url.pathname ? activeClass : deactiveClass
										}
									>
										{m.name}
									</a>
								</li>
							)
						})
					}
				</ul>
			</section>
		</div>
		<section></section>
	</nav>
</header>
