---
import { getCollection } from 'astro:content'
import ProjectListItem from './ProjectListItem.astro'
import SectionTitle from './SectionTitle.astro'
import ArrowTopRight from './icons/ArrowTopRight.astro'

const projects = await getCollection('project')
---

<article id='projects' class='order-2 lg:-order-1'>
	<a href='/project/'>
		<SectionTitle className='flex items-center gap-2'>
			Projects
			<ArrowTopRight />
		</SectionTitle>
	</a>

	<div class='flex flex-col gap-12'>
		{
			projects &&
				projects.map((project) => (
					<ProjectListItem
						id={project.slug}
						title={project.data.title}
						description={project.data.description}
						img={project.data.heroImage || ''}
						technologies={project.data.technologies || []}
						href={'/project/' + project.slug}
					/>
				))
		}
	</div>
</article>
