---
import DownloadIcon from './icons/DownloadIcon.astro'
import ReadIcon from './icons/ReadIcon.astro'
import JobItem from './JobItem.astro'

const timeline = [
	{
		date: {
			from: '2015',
			to: 'Present'
		},
		job: 'Full Stack developer',
		company: 'Freelance',
		image: 'jobs/blank.png'
	},
	{
		date: {
			from: '2022',
			to: 'Present'
		},
		job: 'Senior Frontend developer',
		company: 'Roche Diagnostics',
		image: 'jobs/roche_logo.png'
	},
	{
		date: {
			from: '2020',
			to: '2022'
		},
		job: 'Senior Frontend developer',
		company: 'Roche Diabetes Care',
		image: 'jobs/roche_logo.png'
	},
	{
		date: {
			from: '2014',
			to: '2020'
		},
		job: 'Full stack developer',
		company: 'TMT Factory',
		image: 'jobs/tmt.png'
	},
	{
		date: {
			from: '2013',
			to: '2014'
		},
		job: 'Intern developer',
		company: 'Imaginae',
		image: 'jobs/imaginae.png'
	}
]
---

<article
	id='timeline'
	class='flex-1 min-h-auto flex flex-col break-words py-24 mx-auto items-center space-y-10 w-full max-w-prose'
>
	<div
		class='w-full shadow-lg max-w-3xl p-8 px-8 border rounded-2xl border-zinc-900/10 bg-white/10 backdrop-blur-sm dark:border-white/10 dark:bg-zinc-900/20 dark:backdrop-blur'
	>
		<h2
			class='flex font-semibold text-zinc-900 dark:text-zinc-100 gap-3 items-center text-md pb-4'
		>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='24'
				height='24'
				viewBox='0 0 24 24'
				fill='none'
				stroke='currentColor'
				stroke-width='2'
				stroke-linecap='round'
				stroke-linejoin='round'
				class='flex-none w-6 h-6'
				><rect x='2' y='7' width='20' height='14' rx='2' ry='2'></rect><path
					d='M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16'></path></svg
			><span class=''>Jobs</span>
		</h2>
		<ol class='flow-root'>
			<ul role='list' class='divide-y divide-gray-200 dark:divide-gray-700'>
				{
					timeline.map((time) => (
						<JobItem
							image={time.image}
							company={time.company}
							job={time.job}
							date={time.date}
						/>
					))
				}
			</ul>
		</ol>

		<div class='flex gap-4'>
			<a
				class='inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none relative h-[30px] transform-gpu touch-none select-none border border-none border-transparent bg-white dark:bg-zinc-800 text-[13px] font-semibold leading-none text-zinc-600 hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-100 shadow-button-light dark:shadow-button-dark after:absolute after:-inset-[1px] after:block after:rounded-md after:bg-gradient-to-t after:from-black/5 after:opacity-50 after:transition-opacity hover:after:opacity-100 focus-visible:border-blue-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 disabled:cursor-not-allowed disabled:opacity-50 dark:after:from-black/[0.15] dark:focus-visible:ring-blue-600 w-full mt-6 group'
				target='_blank'
				rel='noopener noreferrer'
				href='https://read.cv/alexmarcos'
			>
				<ReadIcon
					class='w-4 h-4 transition stroke-zinc-600 dark:stroke-zinc-400 group-active:stroke-zinc-900 group-hover:stroke-zinc-900 dark:group-hover:stroke-zinc-100 dark:group-active:stroke-zinc-50'
				/>Read.cv
			</a>
			<a
				class='inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none relative inline-flex h-[30px] transform-gpu touch-none select-none items-center justify-center gap-2 rounded-md border border-none border-transparent bg-white dark:bg-zinc-800 px-3 text-[13px] font-semibold leading-none text-zinc-600 hover:text-zinc-900 dark:text-zinc-300 dark:hover:text-zinc-100 shadow-button-light dark:shadow-button-dark after:absolute after:-inset-[1px] after:block after:rounded-md after:bg-gradient-to-t after:from-black/5 after:opacity-50 after:transition-opacity hover:after:opacity-100 focus-visible:border-blue-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 disabled:cursor-not-allowed disabled:opacity-50 dark:after:from-black/[0.15] dark:focus-visible:ring-blue-600 w-full mt-6 group'
				target='_blank'
				href='/resume.pdf'
				><DownloadIcon
					class='w-4 h-4 transition stroke-zinc-600 dark:stroke-zinc-400 group-active:stroke-zinc-900 group-hover:stroke-zinc-900 dark:group-hover:stroke-zinc-100 dark:group-active:stroke-zinc-50'
				/>Descargar cv</a
			>
		</div>
	</div>
</article>
