---
import BaseHead from 'src/components/BaseHead.astro'
import Header from 'src/components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

export interface Props {
	title?: string
	description?: string
	image?: string
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION
} = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={title} description={description} image={image} />
		<script
			async
			src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js'
		></script>
	</head>
	<body>
		<Header />
		<main
			class='flex-1 relative px-6 flex flex-col justify-between m-auto xl:gap-x-24 2xl:w-[1546px] mt-5 xl:mt-0'
		>
			<slot />
		</main>

		<script
			is:inline
			src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js'
		></script>

		<style is:global>
			html {
				/* font-family: 'Montserrat', system-ui, sans-serif; */
				scroll-behavior: smooth;
				/* background-color: #f6f6f6; */
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>
	</body>
</html>
