---
import BaseHead from 'src/components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

export interface Props {
	title?: string
	description?: string
	image?: string
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION
} = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<div
			class='flex flex-col xl:flex-row justify-between m-auto xl:gap-x-24 2xl:w-[1546px] mt-10 xl:mt-0 :'
		>
			<main class='flex-1 relative px-6'>
				<slot />
			</main>
		</div>
		<script type='module' async>
			import '../../../node_modules/three/build/three.min.js'
		</script>
		<style is:global>
			html {
				/* font-family: 'Montserrat', system-ui, sans-serif; */
				scroll-behavior: smooth;
				/* background-color: #f6f6f6; */
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>
	</body>
</html>
